@charset "utf-8";
/* CSS Document */
/*全局*/
body, p, h1, h2, h3, h4, h5, ul, ol, dl, img, a, li, form, input, dl, dt, dd, td, tr{ margin: 0px; padding: 0px;}
a { cursor: pointer; color: #777;}
a:link { text-decoration: none;}
a:hover { text-decoration: none;}
img, input { border: none;}
li { list-style:none;}
i { font-style: normal;}
body { font-size: 14px; font-family: "Microsoft Yahei"; color: #777; background-color:#F0F0F0;}
td, th { display: table-cell; vertical-align: inherit;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
ul,li{list-style:none;background:none;}
.clear { clear: both;}
.clear_5 { clear: both; height: 5px;}
.clear_10 { clear: both; height: 10px;}
.clear_20 { clear: both; height: 20px;}
.clear_30 { clear: both; height: 30px;}
.clear_40 { clear: both; height: 40px;}
.clear_50 { clear: both; height: 50px;}
.clear_60 { clear: both; height: 60px;}



.banner{ width:100%; overflow:hidden; clear:both; margin-top:22px;}